# Ignore virtual environment folders
.venv/
virtualenv/
.idea/

# Ignore media files
/freelancing_app/media/

# Ignore static files collected
/freelancing_app/staticfiles/

# Ignore Python cache
**/__pycache__/
**/templatetags/

# Ignore migrations in all apps
**/migrations/

/freelancing_app/locale/