# Ignore virtual environment folders
.venv/
virtualenv/
.idea/

# Ignore media files
/media/

# Ignore static files collected
/staticfiles/

# Ignore Python cache
**/__pycache__/

# Ignore migrations in all apps
**/migrations/

