{% extends "base.html" %}
{% load static%}

{% block title %}Reset Password – HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}

{% block content %}
<!-- OTP Request Form Section -->
<div class="signup">
    <div class="signup-container">
        <div class="signup_wrapper">
            <div class="signup_illustration">
                <object type="image/svg+xml" data="{% static 'images/illustrations/signup-illustration.svg' %}" width="280" height="220">
                    <img src="{% static 'images/logo/Logo.png' %}" alt="Reset Password" width="100">
                </object>
                <h2>Reset Password</h2>
                <p>Enter your email to receive OTP</p>
            </div>
            <div class="signup-form">
                <h3>Forgot Password</h3>
                <form action="{% url 'account:forgotpassword' %}" method="POST">
                    {% csrf_token %}
                    <div class="signup-input-box">
                        <label for="otp-email">Email Address</label>
                        <div class="input-container">
                            <i class="far fa-envelope input-icon"></i>
                            <input type="email" id="otp-email" placeholder="Enter your email address" name="email" required>
                        </div>
                    </div>
                    <button type="submit" class="signup-button">Send OTP</button>
                    <p class="signup-login-link">
                        Remembered your password? <a href="{% url 'account:login' %}">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}