{% extends "base.html" %}
{% load static%}

{% block title %}Password Reset OTP{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/otpverification.css' %}">
{% endblock %}

{% block content %}
<div class="otp-verification">
    <div class="container">

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
              {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <span>{{ message }}</span>
                    <i class="fa fa-times close-message" ></i>
                </div>
              {% else %}
                <div class="alert alert-success">
                  <span>{{ message }}</span>
                  <i class="fa fa-times close-message"></i>
                </div>
              {% endif %}
          {% endfor %}
        </div>
      {% endif%}

      <div class="email-icon">
        <img src="{% static 'images/email-logo.png' %}" alt="Email Icon" />
      </div>
      <h3>Please check your email</h3>
      <p>We've sent a 6-digit code to your email address.</p>
      
      <form action="{% url 'accounts:verify-otp' %}" method="POST">
        {% csrf_token %}
        
        <div class="otp-inputs">
          <input type="text" name="otp_1" maxlength="1" class="otp-box" />
          <input type="text" name="otp_2" maxlength="1" class="otp-box" />
          <input type="text" name="otp_3" maxlength="1" class="otp-box" />
          <input type="text" name="otp_4" maxlength="1" class="otp-box" />
          <input type="text" name="otp_5" maxlength="1" class="otp-box" />
          <input type="text" name="otp_6" maxlength="1" class="otp-box" />
        </div>
        
        <p class="resend-text">Didn’t get the code? 
          <a href="{% url 'accounts:resendotp' %}">Click to resend</a>
        </p>
      
        <div class="button-group">
            <a href = "{% url 'homes:home' %}" class="cancel-btn">Cancel</a>
            <button type="submit" class="verify-btn">Verify</button> 
        </div>
      
      </form>
    </div>
</div> 
{% endblock %}


{% block js_files %}
<script src="{% static 'js/otp.js'%}"></script>
<script src="{% static 'js/message.js'%}"></script>
{% endblock %}