{% extends "base.html" %}
{% load static%}

{% block title %}HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/accounts/requestotp.css' %}">
<link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock %}

{% block content %}
<div class="email">
    <div class="email-container">
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        <span>{{ message }}</span>
                        <i class="fa fa-times close-message"></i>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <h2>Enter your Email to receive OTP</h2>
        <form action={% url 'account:forgotpassword' %} method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter email" required>
            <button type="submit">Send OTP</button>
        </form>
    
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    
        <div class="footer-section">
            <p>Remembered your password? <a href="{% url 'account:login' %}">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block js_files %}
<script src="{% static 'js/message.js'%}"></script>
{% endblock %}