{% extends "base.html" %}
{% load static%}

{% block title %}HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/requestotp.css' %}">
{% endblock %}

{% block content %}
<div class="email">
    <div class="email-container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger">
                            <span>{{ message }}</span>
                            <i class="fa fa-times close-message"></i>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
          {% endif%}
        <h2>Enter your Email to receive OTP</h2>
        <form action={% url 'accounts:forgotpassword' %} method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Your email" required>
            <button type="submit">Send OTP</button>
        </form>
    
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    
        <div class="footer-section">
            <p>Remembered your password? <a href="{% url 'accounts:login' %}">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block js_files %}
<script src="{% static 'js/message.js'%}"></script>
{% endblock %}