{% extends "base.html" %}
{% load static%}

{% block title %}Education - HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/freelancerprofile/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/freelancerprofile/addeducation.css' %}">
{% endblock %}

{% block content %}
{% include 'freelancerprofile/sidebar.html' %}

<!-- Loading Screen -->
<div id="loading-screen" style="display: none;">
    <div class="spinner"></div>
</div>

<!-- New Education Form -->
<div class="add-education-container">
    <div class="back-button">
        <a href="{% url 'freelancer:profile' %}">
            <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
    <div class="add-education-form">
        <form action="{% url 'freelancer:add-new-education' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="company_logo">Institution Logo</label>
                <input type="file" id="company_logo" name="institution_logo" accept="image/*" >
            </div>
            <div class="form-group">
                <label for="company_name">Institution Name</label>
                <input type="text" id="company_name" name="institution_name" placeholder="Enter institution name" value="{{institution_name}}">
            </div>
            <div class="form-group">
                <label for="position">Education Level</label>
                <select id="position" name="level">
                    <option value="" disabled {% if not level %}selected{% endif %}>Select</option>
                    <option value="highschool" {% if level == "highschool" %}selected{% endif %}>High School</option>
                    <option value="bachelor" {% if level == "bachelor" %}selected{% endif %}>Bachelor's Degree</option>
                    <option value="master" {% if level == "master" %}selected{% endif %}>Master's Degree</option>
                    <option value="phd" {% if level == "phd" %}selected{% endif %}>PhD</option>
                </select>                
            </div>            
            <div class="form-group currently_working">
                <label>
                    <input type="checkbox" id="currently_studying" name="currently_studying" onclick="toggleEndDate()" {% if currently_studying %}checked{% endif %}>
                </label>
                <span>I am currently studying in this institution</span>
            </div>            
            <div class="form-group">
                <label for="start_date">Start Date</label>
                <div class="date-select">
                    <select id="start_month" name="start_month">
                        <option value="">Month</option>
                        {% for key, value in months.items %}
                            <option value="{{ key }}" {% if key == start_month %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                    <select id="start_year" name="start_year">
                        <option value="">Year</option>
                        {% for key, value in years.items %}
                            <option value="{{ key }}" {% if key == start_year %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="end_date">End Date</label>
                <div class="date-select">
                    <select id="end_month" name="end_month">
                        <option value="">Month</option>
                        {% for key, value in months.items %}
                            <option value="{{ key }}" {% if key == end_month %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                    <select id="end_year" name="end_year">
                        <option value="">Year</option>
                        {% for key, value in years.items %}
                            <option value="{{ key }}" {% if key == end_year %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="location">Institution Location</label>
                <input type="text" id="location" name="location" placeholder="Enter location" value="{{location}}">
            </div>
            <div class="form-actions">
                <button type="submit" class="save-btn">Save Changes</button>
                <a href="{% url 'freelancer:profile' %}">Cancel</a>
            </div>
        </form>        
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js_files %}
<script>
    function toggleEndDate() {
        const checkbox = document.getElementById('currently_studying');
        const endMonth = document.getElementById('end_month');
        const endYear = document.getElementById('end_year');

        if (checkbox.checked) {
            endMonth.disabled = true;
            endYear.disabled = true;
        } else {
            endMonth.disabled = false;
            endYear.disabled = false;
        }
    }

    window.onload = function() {
        toggleEndDate();
    };
</script>
{% endblock %}

