{% extends "base.html" %}
{% load static%}

{% block title %}Profile Image - HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/freelancerprofile/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/freelancerprofile/editprofileimage.css' %}">
{% endblock %}

{% block content %}
{% include 'freelancerprofile/sidebar.html' %}

<!-- Loading Screen Section -->
<div id="loading-screen" style="display: none;">
    <div class="spinner"></div>
</div>

<!-- User Proile Image and Username Section -->
<div class="edit-image-container">
    <div class="back-button">
        <a href="{% url 'freelancer:profile' %}">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>    
    <div class="edit-profile-form" id="edit-profile-form">
        <form action="{% url 'freelancer:edit-profile-image' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="profile-image">Profile Image</label>
                <div class="image-container">
                    <img src="{% if user.profile_image %}{% get_media_prefix %}profile_images/{{ user.profile_image }}{% else %}{% static 'images/default-user-pic.png' %} {% endif %}" alt="Profile Image" class="profile-img">
                </div>
                <input type="file" id="profile-image" name="profile_image" accept="image/*">
            </div>            
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" value="{{ last_username|default:user.username|default:'' }}">
            </div>
            <div class="form-actions">
                <button type="submit" class="save-btn">Save Changes</button>
                <a href="{% url 'freelancer:profile' %}" id="cancel-edit" class="cancel-btn">Cancel</a>
            </div>
        </form>
    </div>    
</div>
{% endblock %}

{% block footer %}
{% endblock %}