{% extends "base.html" %}
{% load static%}

{% block title %}Password Setting - HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/freelancerprofile/changepassword.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/resetpassword.css' %}">
<link rel="stylesheet" href="{% static 'css/freelancerprofile/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endblock %}

{% block content %}
{% include 'freelancerprofile/sidebar.html' %}
<!-- Loading Screen -->
<div id="loading-screen" style="display: none;">
    <div class="spinner"></div>
</div>

<!-- Password Update Form -->
<div class="edit-image-container">
    <div class="back-button">
        <a href="{% url 'client:profile' %}">
            <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
    <div class="login_form">
        <form action="{% url 'freelancer:change-password' %}" method="POST">
          {% csrf_token %}         
          <div class="input_box">
            <label for="password"> Old Password</label>
            <div class="password_container">
              <input type="password" id="password" name="oldpassword" placeholder="Enter old password"/>
              <i class="fa fa-eye" id="togglePassword1"></i>
            </div>
          </div>
          <div class="input_box">
            <label for="password"> New Password</label>
            <div class="password_container">
              <input type="password" id="password" name="newpassword" placeholder="Enter new password"/>
              <i class="fa fa-eye" id="togglePassword1"></i>
            </div>
          </div>
          <div class="input_box">
            <div class="password_title">
              <label for="confirmpassword">Confirm Password</label>
            </div>
            <div class="password_container">
              <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Enter new password again" />
              <i class="fa fa-eye" id="togglePassword2"></i>
            </div>
          </div>
          <button type="submit">Change Password</button>
        </form>
      </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block js_files %}
<script src="{% static 'js/accounts/password-visibility.js'%}"></script>
{% endblock %}