{% extends "base.html" %}
{% load static%}

{% block title %}HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/freelancerprofile/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/freelancerprofile/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/message.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endblock %}

{% block content %}
{% include 'freelancerprofile/sidebar.html' %}
<div id="loading-screen" style="display: none;">
    <div class="spinner"></div>
</div>

<div class="user-basic-info">
    <div class="settings-container">
        <p class="title">My Profile</p>

        <div class="profile-info">
            <div class="box">
                <div class="left-side">
                    <img src="{% if user.profile_image %}{% get_media_prefix %}profile_images/{{ user.profile_image }}{% else %}{% static 'images/default-user-pic.png' %}{% endif %}" alt="">

                    <div class="details">
                        {% if user.first_name and user.last_name %}
                            <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
                        {% endif %}
                        <p class="position">{{user.username}}</p>
                        {% if freelancer.city and freelancer.country %}
                            <p class="address">{{freelancer.city|add:", "}}{{freelancer.country}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="right-side">
                    <a href="{% url 'freelancer:edit-profile-image' %}" class="edit-link">Edit <i class="bx bx-pencil"></i></a>
                </div>                
            </div>            
        </div>
        
        <div class="personal-info">
            <div class="box">
                <div class="header">
                    <p class="caption"><i class="fa-regular fa-id-card"></i>Personal Information</p>
                    <a href="{% url 'freelancer:edit-personal-info' %}" class="edit-link">Edit <i class="bx bx-pencil"></i></a>
                </div>
                <div class="body-content">
                    <div class="col-1">
                        <p><strong>First Name</strong></p>
                        <p>{{ user.first_name|default:"Not Provided" }}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>Middle Name</strong></p>
                        <p>{{ user.middle_name|default:"(No Middle Name)" }}</p>
                    </div>
                    <div class="col-3">
                        <p><strong>Last Name</strong></p>
                        <p>{{ user.last_name|default:"Not Provided" }}</p>
                    </div>
                    <div class="col-3">
                        <p><strong>Email Address</strong></p>
                        <p id="email">{{ user.email }}</p>
                    </div>
                    <div class="col-4">
                        <p><strong>Phone</strong></p>
                        <p>{{ user.phone_number|default:"No Phone Number Added" }}</p>
                    </div>
                    <div class="col-6">
                        <p><strong>Languages</strong></p>
                        <p>{{ freelancer.languages|default:"Not Specified"}}</p>
                    </div>                                                          
                    <div class="col-7">
                        <p><strong>Bio</strong></p>
                        <p id="bio" class="bio-text">
                            {{ freelancer.bio|default:"No bio available. Add a short description about yourself!" }}
                        </p> 
                        <a href="javascript:void(0);" id="read-more" class="read-more">Read More</a>
                    </div>   
                </div>                
            </div>
        </div>

        <div class="addreess-info">
            <div class="box">
                <div class="header">
                    <p class="caption"><i class="fa-solid fa-location-dot"></i>Address</p>
                    <a href="{% url 'freelancer:edit-address' %}" class="edit-link">Edit <i class="bx bx-pencil"></i></a>
                </div>
                <div class="body-content">
                    <div class="col-1">
                        <p><strong>Country</strong></p>
                        <p>{{freelancer.country|default:"Not Provided" }}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>City</strong></p>
                        <p>{{freelancer.city|default:"Not Provided" }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="experience-info">
            <div class="box">
                <div class="header">
                    <p class="caption"><i class="fa-solid fa-briefcase"></i>Skills & Hourly Rate</p>
                    <a href="{% url 'freelancer:edit-skill' %}" class="edit-link">Edit <i class="bx bx-pencil"></i></a>
                </div>
                <div class="body-content">
                    <div class="col-1">
                        <p><strong>Experience</strong></p>
                        <p>{{ experience_display }}</p>
                    </div>                
                    <div class="col-2">
                        <p><strong>Hourly Rate</strong></p>
                        <p>Rs. {{freelancer.hourly_rate|default:"Not Provided"}}</p> 
                    </div>
                    <div class="col-3">
                        <p><strong>Skills</strong></p>
                        <div class="skills-list">
                            {% if freelancer.skills.all %}
                                {% for skill in freelancer.skills.all %}
                                    <span class="skill-tag">{{ skill.name }}</span>
                                {% endfor %}
                            {% else %}
                                <p>Not Provided</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>             

        <div class="education-info">
            <div class="box">
                <div class="header">
                    <p class="caption"><i class="fas fa-graduation-cap"></i> Education</p>
                    <a href="{% url 'freelancer:add-new-education' %}" class="add-link">Add <i class="fas fa-plus"></i></a>
                </div>
                <div class="body-content">
                    {% for education_info in educations_with_duration %}
                    <div class="education-item">
                        <div class="education-logo">
                            {% if education_info.education.logo %}
                                <img src="{% get_media_prefix %}education_images/{{ education_info.education.logo }}" alt="{{ education_info.education.institution }} Logo">
                            {% else %}
                                <img src="{% static 'images/default_logo.jpg' %}" alt="Default Logo">
                            {% endif %}
                        </div>
                        <div class="education-details">
                            <p class="institution">{{ education_info.education.institution }}</p>
                            <p class="degree">{{ education_info.education.education_level }}</p>
                            <p class="duration">
                                {% if education_info.education.end_date %}
                                    {{ education_info.education.start_date|date:"M Y" }} - {{ education_info.education.end_date|date:"M Y" }}
                                {% else %}
                                    {{ education_info.education.start_date|date:"M Y" }} - Present
                                {% endif %}
                            </p>
                            <p class="location">{{ education_info.education.location }}</p>
                        </div>
                        <a href="" class="edit-icon"><i class="bx bx-pencil"></i></a>
                    </div>
                    {% empty %}
                    <p>No education records found.</p>
                    {% endfor %}
                </div>
                
            </div>
        </div>
               
        
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block js_files %}
<script src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/freelancerprofile/freelancer-profile.js' %}"></script>
<script src="{% static 'js/loader.js' %}"></script>
{% endblock %}