{% load static %}

<!-- Vertical Sidebar Section -->
<div class="sidebar">
    <div class="menu_content">
        <ul class="menu_items">
            <li class="item"> 
                <a href="{% url 'freelancer:profile' %}" class="nav_link">
                    <span class="navlink_icon">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <span class="navlink">My Info</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url 'freelancer:change-password' %}" class="nav_link">
                    <span class="navlink_icon">
                        <i class="fa-solid fa-key"></i>
                    </span>
                    <span class="navlink">Change Password</span>
                </a>
            </li>
        </ul>
    </div>
</div>