{% extends "base.html" %}
{% load static%}

{% block title %}Profile Image - HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/clientprofile/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/clientprofile/editprofileimage.css' %}">
{% endblock %}

{% block content %}
{% include 'clientprofile/sidebar.html' %}

<!-- Loading Screen -->
<div id="loading-screen" style="display: none;">
    <div class="spinner"></div>
</div>

<!-- User Proile Image and Username -->
<div class="edit-image-container">
    <div class="back-button">
        <a href="{% url 'client:profile' %}">
            <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
    <div class="edit-profile-form" id="edit-profile-form">
        <form action="{% url 'client:edit-profile-image' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">   
                <label for="profile-image">Profile Image</label>
                <img src="{% if user.profile_image %}{% get_media_prefix %}profile_images/{{ user.profile_image }}{% else %}{% static 'images/default-user-pic.png' %} {% endif %}" alt="">
                <input type="file" id="profile-image" name="profile_image" accept="image/*">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" value="{{ last_username|default:user.username|default:'' }}">
            </div>
            <div class="form-actions">
                <button type="submit" class="save-btn">Save Changes</button>
                <a href="{% url 'client:profile' %}" id="cancel-edit" class="cancel-btn">Cancel</a>
            </div>
        </form>
    </div>    
</div>
{% endblock %}

{% block footer %}
{% endblock %}