{% extends "base.html" %}
{% load static%}

{% block title %}HireMe{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/clientprofile/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/message.css' %}">
<link rel="stylesheet" href="{% static 'css/clientprofile/sidebar.css' %}">
{% endblock %}

{% block content %}
{% include 'clientprofile/sidebar.html' %}
<div class="user-basic-info">
    <div class="settings-container">
        <p class="title">My Profile</p>

        <div class="profile-info">
            <div class="box">
                <div class="left-side">
                    <img src="{% if user.profile_image %}{% get_media_prefix %}profile_images/{{ user.profile_image }}{% else %}{% static 'images/default-user-pic.png' %}{% endif %}" alt="">

                    <div class="details">
                        {% if user.first_name and user.last_name %}
                            <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
                        {% endif %}
                        <p class="position">{{user.username}}</p>
                        {% if client.city and client.country %}
                            <p class="address">{{client.city|add:","}}{{client.country}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="right-side">
                    <a href="{% url 'client:edit-profile-image' %}" class="edit-link">Edit <i class="bx bx-pencil"></i></a>
                </div>                
            </div>            
        </div>
        
        <div class="personal-info">
            <div class="box">
                <div class="header">
                    <p class="caption"><i class="fa-regular fa-id-card"></i>Personal Information</p>
                    <a href="{% url 'client:edit-personal-info' %}" class="edit-link">Edit <i class="bx bx-pencil"></i></a>
                </div>
                <div class="body-content">
                    <div class="col-1">
                        <p><strong>First Name</strong></p>
                        <p>{{user.first_name|default:"" }}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>Middle Name</strong></p>
                        <p>{{user.middle_name|default:"" }}</p>
                    </div>
                    <div class="col-3">
                        <p><strong>Last Name</strong></p>
                        <p>{{user.last_name}}</p>
                    </div>
                    <div class="col-3">
                        <p><strong>Email Address</strong></p>
                        <p id="email">{{user.email}}</p>
                    </div>
                    <div class="col-4">
                        <p><strong>Phone</strong></p>
                        <p>{{user.phone_number|default:"" }}</p>
                    </div>
                    <div class="col-6">
                        <p><strong>Languages</strong></p>
                        <p>{{client.languages|default:"" }}</p>
                    </div>                    
                    <div class="col-7">
                        <p><strong>Bio</strong></p>
                        <p id="bio" class="bio-text">
                            {{client.bio|default:"" }}
                        </p> 
                        <a href="javascript:void(0);" id="read-more" class="read-more">Read More</a>
                    </div>   
                </div>
            </div>
        </div>

        <div class="addreess-info">
            <div class="box">
                <div class="header">
                    <p class="caption"><i class="fa-solid fa-location-dot"></i>Address</p>
                    <a href="{% url 'client:edit-address' %}" class="edit-link">Edit <i class="bx bx-pencil"></i></a>
                </div>
                <div class="body-content">
                    <div class="col-1">
                        <p><strong>Country</strong></p>
                        <p>{{client.country|default:"" }}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>City/State</strong></p>
                        <p>{{client.city|default:"" }}</p>
                    </div>
                    <div class="col-3">
                        <p><strong>Postal Code</strong></p>
                        <p>{{client.postal_code|default:"" }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="company-info">
            <div class="box">
                <div class="header">
                    <p class="caption"><i class="fas fa-landmark"></i>Company</p>
                    <a href="{% url 'client:addcompany' %}" class="add-link">Add<i class="fas fa-plus"></i></a>
                </div>
                <div class="body-content">
                    <div class="company-item">
                        <div class="company-logo">
                            <img src="{% static 'images/facebook.png' %}" alt="facebook Logo">
                        </div>
                        <div class="company-details">
                            <p class="position">Software Engineer</p>
                            <p class="company-name">Facebook · Full-time</p>
                            <p class="duration">Jan 2024 - Present · 1 yrs</p>
                            <p class="location">Oregon, United States</p>
                        </div>
                        <a href="#" class="edit-icon"><i class="bx bx-pencil"></i></a>
                    </div>
                    <div class="company-item">
                        <div class="company-logo">
                            <img src="{% static 'images/code himalaya.png' %}" alt="codehimalaya Logo">
                        </div>
                        <div class="company-details">
                            <p class="position">Backend Developer</p>
                            <p class="company-name">Code Himalaya · Self-employed</p>
                            <p class="duration">Jan 2023 - Jan 2024 · 1 yr</p>
                            <p class="location">Kathmandu, Nepal</p>
                        </div>
                        <a href="#" class="edit-icon"><i class="bx bx-pencil"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block footer %}

{% endblock %}

{% block js_files %}
<script src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/client-profile.js' %}"></script>
{% endblock %}