{% load static %}
{% load i18n %}
{% load translation_tags %}

<!-- Vertical Sidebar Section -->
<div class="sidebar">
    <div class="menu_content">
        <ul class="menu_items">
            <li class="item"> 
                <a href="{% url 'client:profile' %}" class="nav_link {% if '/client/my-profile/' in request.path %}active{% endif %}">
                    <span class="navlink_icon">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <span class="navlink">{% translate "My Info" %}</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url 'client:change-password' %}" class="nav_link {% if '/client/change-password/' in request.path %}active{% endif %}">
                    <span class="navlink_icon">
                        <i class="fa-solid fa-key"></i>
                    </span>
                    <span class="navlink">{% translate "Change Password" %}</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url 'client:transactions' %}" class="nav_link {% if '/transactions/' in request.path %}active{% endif %}">
                    <span class="navlink_icon">
                        <i class="fa-solid fa-credit-card"></i>
                    </span>
                    <span class="navlink">{% translate "Payment History" %}</span>
                </a>
            </li>
        </ul>
    </div>
</div>