{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Email Verification</title>
{% endblock %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'css/emailverification.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}

{% block content%}

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<form method="POST" action="{% url 'verifyotp' %}">
    {% csrf_token %}    
    <div class="container">
        <h1>Enter OTP Code</h1>
        <p>Please enter the 6-digit OTP sent to your email.</p>
        
        <div class="otp-inputs">
            <input type="text" maxlength="1" id="otp1" name="otp1" oninput="moveFocus(this, 'otp2')" />
            <input type="text" maxlength="1" id="otp2" name="otp2" oninput="moveFocus(this, 'otp3')" />
            <input type="text" maxlength="1" id="otp3" name="otp3" oninput="moveFocus(this, 'otp4')" />
            <input type="text" maxlength="1" id="otp4" name="otp4" oninput="moveFocus(this, 'otp5')" />
            <input type="text" maxlength="1" id="otp5" name="otp5" oninput="moveFocus(this, 'otp6')" />
            <input type="text" maxlength="1" id="otp6" name="otp6" />
        </div>

        <button type="submit" class="btn-submit">Verify OTP</button>
    </div>
</form>

<script>
    function moveFocus(current, nextId) {
        if (current.value.length === 1) {
            document.getElementById(nextId).focus();
        }
    }

</script>
{% endblock %}