/* OTP Reuqest Form Section */
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 160px 0 80px 0;
}

.email .email-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
}

.email h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.email form {
    display: flex;
    flex-direction: column;
}

.email input[type="email"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #F8F8FB;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.email input[type="email"]:focus {
    border-color: #1E88E5;
}

.email .email-container button {
    padding: 12px;
    background-color: #1E88E5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.email button:hover {
    background-color: #1565C0;
}

.email .footer-section {
    text-align: center;
    margin-top: 20px;
}

.email  .footer-section p{
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}

.email .footer-section a {
    text-decoration: none;
    color: #626cd6;
    font-weight: 500;
}

.email .footer-section a:hover{
    text-decoration: underline;
}

@media (max-width: 576px) {
    .email {
        margin: 160px 0 80px 0;
        padding: 5px 15px;
    }
  
    .email .email-container {
        padding: 20px;
        width: 100%;
        max-width: 100%;
    }
  
    .email h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
  
    .email input[type="email"] {
        padding: 10px;
        font-size: 14px;
    }
  
    .email button {
        padding: 10px;
        font-size: 14px;
    }
  
    .email .footer-section p {
        font-size: 15px;
    }
  }
  
