/* SignUp Form Section */
.signup {
    margin-top: 150px;
    margin-bottom: 60px;
}

.signup .signup-container {
    display: flex;
    justify-content: center;
}

.signup .signup-form {
    width: 100%;
    max-width: 550px;
    background: #fff;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.signup .signup-form h3 {
    font-size: 20px;
    text-align: center;
}

.signup .signup-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.signup .signup-option {
    width: calc(100% / 2 - 12px);
}

.signup .signup-option a {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #f8f8fb;
    border: 1px solid #dadaf2;
    border-radius: 5px;
    margin: 34px 0 24px 0;
    text-decoration: none;
    color: #171645;
    font-weight: 500;
    transition: 0.2s ease;
}

.signup .signup-option a:hover {
    background: #ededf5;
    border-color: #626cd6;
}

.signup .signup-option a img {
    max-width: 25px;
}

.signup .signup-form p {
    font-size: 17px;
    text-align: center;
    font-weight: 500;
}

.signup .signup-separator {
    position: relative;
    margin-bottom: 24px;
}

.signup .signup-separator span {
    background: #fff;
    z-index: 1;
    padding: 0 10px;
    position: relative;
}

.signup .signup-separator::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #c2c2c2;
    display: block;
}

.signup .signup-input-box label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

.signup .signup-input-box input {
    width: 100%;
    height: 57px;
    border: 1px solid #dadaf2;
    border-radius: 5px;
    outline: none;
    background: #f8f8fb;
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;
}

.signup .signup-input-box input:focus {
    border-color: #626cd6;
}

.signup .signup-button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #1E88E5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

.signup .signup-button:hover {
    background: #1565C0;
}

.signup .signup-login-link {
    text-align: center;
    font-size: 14px;
}

.signup .signup-login-link a {
    text-decoration: none;
    color: #1565C0;
    font-weight: 500;
}

.signup .signup-login-link a:hover {
    text-decoration: underline;
}

.signup .password-container {
    position: relative;
}
  
.signup .password-container input {
    width: 100%;
    padding-right: 40px; 
}
  
.signup .password-container i {
    position: absolute;
    right: 10px;
    top: 36%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888; 
    font-size: 18px; 
}
  
.signup .password-container i:hover {
    color: #626cd6; 
}

@media (max-width: 576px) {
    .signup {
        margin-top: 150px;
        margin-bottom: 60px;
        padding: 5px 15px;
    }
    
    .signup .signup-form {
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }
}