{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}HireMe{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"/>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    
    {% block css_files %}

    {% endblock %}

</head>
<body>
<!-- Navigation Bar -->
<div class="nav-container">
    <nav class="navbar">
        <div class="logo">
            {% if user.is_authenticated %}
                {% if user.role == "client" %}
                <a href="{% url 'dashboard:client' %}">
                    <img src="{% static 'images/Logo.png' %}" alt="company-logo">
                </a>
                {% else %}
                    <a href="{% url 'dashboard:freelancer' %}">
                        <img src="{% static 'images/Logo.png' %}" alt="company-logo">
                    </a>
                {% endif %}
            {% else %}
                <a href="{% url 'homes:home' %}">
                    <img src="{% static 'images/Logo.png' %}" alt="company-logo">
                </a>
            {% endif %}
        </div>
        <div class="links">
            {% if user.is_authenticated %}
                {% if user.role == "client" %}
                    <a href="{% url 'dashboard:client' %}">Home</a>
                {% else %}
                    <a href="{% url 'dashboard:freelancer' %}">Home</a>
                {% endif %}
            {% else %}
                <a href="{% url 'homes:home' %}">Home</a>
            {% endif %}
            <a href="#">Find Freelancers</a>
            <a href="#">Find Projects</a>
            <a href="#">Help</a>
            <a href="#">About Us</a>
        </div>
        <div class="search-bar">
            <select class="search-type">
                <option value="freelancers">Freelancers</option>
                <option value="projects">Projects</option>
            </select>
            <input type="text" placeholder="Search..." />
            <button><i class="fas fa-search"></i></button>
        </div>
        
        <div class="side-icons">
            <div class="icon-container">
                
                {% if user.is_authenticated %}
                <!-- Notification Box -->
                <div class="notification-main">
                    <div class="icon notification-icon">
                        <i class="fa-regular fa-bell"><span>1</span></i>
                    </div>
                    <div class="notification-box">
                        <div class="notification-header">
                            <span>Notifications</span>
                            <a href="#" class="mark-read">Mark all as read</a>
                        </div>
                        <hr>
                        <div class="notification-content">
                            <div class="notification-item">
                                <p><strong>Your deadline for the assignment Project Proposal for CS6P05NI</strong></p>
                                <p>Project_Assessment_AU_24 is due within 24 hours. Please make sure to submit it before the deadline.</p>
                                <span>December 3, 2024 at 01:07 PM</span>
                            </div>
                            <hr />
                            <div class="notification-item">
                                <p><strong>Your deadline for the assignment Project Proposal for CS6P05NI</strong></p>
                                <p>Project_Assessment_AU_24 is due within 24 hours. Please make sure to submit it before the deadline.</p>
                                <span>December 3, 2024 at 01:02 PM</span>
                            </div>
                            <hr />
                            <div class="notification-item">
                                <p><strong>A new teaching resource has been shared with you.</strong></p>
                                <p>December 2, 2024 at 07:08 AM</p>
                            </div>
                            <hr />
                            <div class="notification-item">
                                <p><strong>Your deadline for the assignment Introduction Section - Interim Report</strong></p>
                                <span>December 2, 2024 at 02:15 PM</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <!-- Change Language Box -->
                <div class="language-main">
                    <div class="language-selector">
                        <div class="icon">
                            <i class="fas fa-globe"></i>
                        </div>
                        <div class="language-box">
                            <div class="language-option" data-lang="en">
                                <img src="{% static 'images/british.png' %}" alt="English" /> English
                            </div>
                            <hr>
                            <div class="language-option" data-lang="ne">
                                <img src="{% static 'images/Nepal.png' %}" alt="Nepali" /> Nepali
                            </div>
                        </div>
                    </div>
                </div>             
                
                {% if user.is_authenticated %}
                <!-- Message Box -->
                <div class="message-main">
                    <div class="language-selector">
                        <div class="icon" id="messenger-icon">
                            <i class="fa-brands fa-facebook-messenger"><span>1</span></i>
                        </div>
                        <div class="message-box" id="message-box">
                            <div class="header">
                                <h3>Chats</h3>
                                <div class="search-bar">
                                    <input type="text" placeholder="Search Person" />
                                    <button><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <hr>
                            <div class="chat-list">
                                <div class="chat-row">
                                    <i class="fa-regular fa-user user-icon"></i>
                                    <div class="chat-details">
                                        <p class="chat-name">Bikash Bhattarai</p>
                                        <div class="chat-meta">
                                            <span class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sunt sequi quam ex ullam. Hic dicta totam quo natus similique mollitia optio fugit, quidem quis expedita porro dolorum praesentium aperiam.</span>
                                            <span class="time">24h</span>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="chat-row">
                                    <img src="{% static 'images/ronaldo.jpg' %} " alt="user-profile">
                                    <div class="chat-details">
                                        <p class="chat-name">Bikash Bhattarai</p>
                                        <div class="chat-meta">
                                            <span class="message">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima molestias quisquam cupiditate, ullam itaque inventore eaque illo iusto magnam minus laborum saepe facilis nihil non ut, placeat fugiat quod praesentium.</span>
                                            <span class="time">1d</span>
                                        </div>
                                    </div>
                                </div>   
                                
                                <div class="chat-row">
                                    <img src="{% static 'images/ronaldo.jpg' %} " alt="user-profile">
                                    <div class="chat-details">
                                        <p class="chat-name">Bikash Bhattarai</p>
                                        <div class="chat-meta">
                                            <span class="message">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima molestias quisquam cupiditate, ullam itaque inventore eaque illo iusto magnam minus laborum saepe facilis nihil non ut, placeat fugiat quod praesentium.</span>
                                            <span class="time">1d</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="chat-row">
                                    <img src="{% static 'images/ronaldo.jpg' %} " alt="user-profile">
                                    <div class="chat-details">
                                        <p class="chat-name">Bikash Bhattarai</p>
                                        <div class="chat-meta">
                                            <span class="message">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima molestias quisquam cupiditate, ullam itaque inventore eaque illo iusto magnam minus laborum saepe facilis nihil non ut, placeat fugiat quod praesentium.</span>
                                            <span class="time">1d</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            {% endif %}
            
            <!-- User Profile Section -->
            {% if user.is_authenticated %}
            <div class="profile-main">
                <div class="icon">
                    <img src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static 'images/default-user-pic.png' %}{% endif %}" alt="">
                </div>
                <div class="user-box">
                    <div class="username">
                        <img src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static 'images/default-user-pic.png' %}{% endif %}" alt="">
                        <div class="user-info">
                            <p>{{ user.username }}</p>
                            <span>{{ user.role.capitalize }}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="shortcut-settings">
                        <div class="my-profile">
                            <i class="fa-solid fa-gear"></i>
                            {% if user.role == "client"%}
                                <a href="{% url 'client:profile' %}">Account Settings</a>
                            {% else %}
                                <a href="#">Account Settings</a>
                            {% endif %}
                        </div>
                        <div class="logout">
                            <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
                            <a href="{% url 'account:logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            <!-- Login and Signup Links for Unauthenticated Users -->
            {% if not user.is_authenticated %}
            <a href="{% url 'account:login' %}" class="login-btn"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="{% url 'account:signup' %}" class="signup-btn"><i class="fas fa-user-plus"></i> Sign Up</a>
            {% endif %}
        </div>
    </nav>
</div>
    
{% if user.is_authenticated %}
<!-- Detailed Chat Box -->
<div class="detailed-chat">
    <div class="main-box">
        <div class="header-content">
            <div class="user-info">
                <!-- <i class="fa-regular fa-user"></i> -->
                <img src="{% static 'images/ronaldo.jpg' %} " alt="user-profile" class="profile-img">
                <span class="user-name">Cristiano Ronaldo</span>
                
            </div>
            <div class="header-actions">
                <button id="minimize-chat" class="minimize-btn-icon"><i class="fa-solid fa-minus"></i></button>
                <button id="close-chat" class="close-btn-icon"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
        <div class="text-message">
            <div class="messages">
                <div class="message sent">
                    <div class="message-content">Hello, how can I assist you today?</div>
                    <span class="message-time">12:30 PM</span>
                </div>
                <div class="message received">
                    <div class="message-content">Hi! I need help with my project proposal. I'm having trouble structuring it.</div>
                    <span class="message-time">12:31 PM</span>
                </div>
                <div class="message sent">
                    <div class="message-content">Sure, I can help with that. What is the project about? Maybe I can suggest a structure for it.</div>
                    <span class="message-time">12:32 PM</span>
                </div>
                <div class="message received">
                    <div class="message-content">It's a web development project. I want to create a platform for local businesses to connect with freelancers.</div>
                    <span class="message-time">12:33 PM</span>
                </div>
                <div class="message sent">
                    <div class="message-content">That sounds interesting! A good structure could be an introduction, project goals, features, timeline, and budget. What do you think?</div>
                    <span class="message-time">12:34 PM</span>
                </div>
                <div class="message received">
                    <div class="message-content">I like that structure. I’ll start with the introduction and goals first. Thanks for the suggestion!</div>
                    <span class="message-time">12:35 PM</span>
                </div>
                <div class="message sent">
                    <div class="message-content">You're welcome! Feel free to ask if you need help with anything else. Good luck with your proposal!</div>
                    <span class="message-time">12:36 PM</span>
                </div>
                
            </div>
        
            <div class="message-input">
                <label for="file-upload" class="fa-solid fa-paperclip attach-icon"></label>
                <input type="file" id="file-upload" class="file-input" />
                <textarea placeholder="Type a message" id="message-input"></textarea>
                <button id="send-message" class="send-btn">
                    <i class="fa-solid fa-paper-plane send-icon"></i>
                </button>
            </div>            
        </div>       
        
    </div>
</div> 
{% endif %}

{% block content %}

{% endblock %}

<!-- Footer Section -->
{% block footer %}
<footer>
    <div class="content">
        <div class="top">
            <div class="logo-details">
                <img src="{% static 'images/Logo.png' %}" alt="company-logo">
            </div>
            <div class="media-icons">
                <a href="https://www.facebook.com/bishal.bhattarai.984786" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://x.com/bhattarai_bsal2" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/its_bshal21/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/bikashbhattarai/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="link-boxes">

            <ul class="box">
                <li class="link_name">Company</li>
                <li><a href="#">About HireMe</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            
            <ul class="box">
                <li class="link_name">Freelancer Services</li>
                <li><a href="#">Become a Freelancer</a></li>
                <li><a href="#">Explore Jobs</a></li>
                <li><a href="#">How to Get Started</a></li>
                <li><a href="#">Freelancer Tips</a></li>
            </ul>

            <ul class="box">
                <li class="link_name">Client Services</li>
                <li><a href="#">Post a Job</a></li>
                <li><a href="#">Hire Freelancers</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Client Supports</a></li>
            </ul>

            <ul class="box">
                <li class="link_name">Support</li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact Support</a></li>
                <li><a href="#">Community Guidelines</a></li>
            </ul>

            <ul class="box">
                <li class="link_name">Quick Links</li>
                <li><a href="{% url 'account:login' %}">Login</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Categories</a></li>
            </ul>
            
        </div>
    </div>
    <div class="bottom-details">
        <div class="bottom_text">
            <span class="copyright_text">Copyright © 2024 <a href="index.html">HireMe.</a> All rights reserved</span>
            <span class="policy_terms">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms &amp; Conditions</a>
            </span>
        </div>
    </div>
</footer>  
{% endblock %}

{% block js_files %}

{% endblock %}
<script src="{% static 'js/notification-language.js' %}"></script>
<script src="{% static 'js/chatbox-closer.js' %}"></script>
</body>
</html>
