/* Client-Profile Section */
.sidebar {
    background-color: #fff;
    width: 260px;
    position: fixed;
    top: 97px;
    left: 0;
    height: 100%;
    z-index: 100;
    padding: 20px 20px;
    overflow-y: scroll;
    box-shadow: 0 0 1px #707070;
    transition: all 0.5s ease;
}

.sidebar.close {
    padding: 60px 0;
    width: 80px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu_content {
    position: relative;
}

.menu_items {
    padding: 0;
    list-style: none;
}

.navlink_icon {
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
}

.nav_link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #707070;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.nav_link.active {
    color: #4070f4;
}

.nav_link:hover {
    color: #fff;
    background: #4070f4;
}

.sidebar.close .nav_link {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar.close {
        left: -100%;
    }

    .sidebar.close .bottom_content {
        left: -100%;
    }
}